<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ site.autor }}" />
    <title>{{ site.titulo }} {% block title %} ::
    {{ entry.titulo }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static/css/pure-min.css") }}" type="text/css" charset="utf-8" />
    <!--
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    -->
    <link rel="stylesheet" href="{{ url_for("static/css/minimal.css") }}"  type="text/css" charset="utf-8" />
    <meta name="keywords" content="{{ site.claves }}" />
    <meta name="description" content="{% if entry.descripcion %}{{ entry.descripcion }}{% else %}{{ site.descripcion }}{% endif %}" />
    <link href="{{ absolute_url_for("static/favicon.ico") }}" type="image/x-icon" rel="icon" />
    <link href="{{ absolute_url_for("static/favicon.ico") }}" type="image/x-icon" rel="shortcut icon" /> 
    <link href="{{ absolute_url_for("feed.rss") }}" rel="alternate" title="{{ site.title }}" type="application/rss+xml" />
  </head>
  <body>
    <a name="TOPE" id="TOPE"></a>
{% include '_esquema/_cabeza.html' %}
    <div class="content pure-u-1">
{% block content %}{% endblock %}
{% include '_esquema/_pie.html' %}
    </div>
    <script type="text/javascript" src="{{ url_for("static/js/main.js") }}"></script>
    <script type="text/javascript" src="http://vida.russitto.com/api/read/json?number=1024&type=photo&callback=myTumblrPhotos"></script>
    <script type="text/javascript" src="http://russittoblog.tumblr.com/api/read/json?limit=16&callback=myTumblrNews"></script>
  </body>
</html>
