{% extends "_base.html" %}

{% block title %} :: {{ entry.slug }}{% endblock %}

{% block content %}
  <div class="posts pure-g">
    <!--
    <div class="post pure-u-1">
      <h1 class="pure-u-1">
        Noticias con etiqueta {{ entry.slug }}
      </h1>
    </div>
    -->
    {% for post in site.tags[entry.slug] %}
    <div class="post pure-u-1">
      <h1 class="content-subhead pure-u-1">
        <span class="author">{{ site.autor }}</span>
        <span class="date">@{{ post.date.strftime('%d/%m/%Y') }}</span>
      </h1>
      <header class="post-header">
        <h2 class="post-title pure-u-1">
          <a href="{{ post.get_url() }}">{{ post.titulo }}</a>
        </h2>
      </header>
      <div class="post-description pure-u-1">
        {% for tag in post.tags -%}
          <a class="post-category post-category-{{ tag }}"
           href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>&nbsp;
        {%- endfor %}
        <p>
          {{ post.descripcion }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
<!--
vim:set ts=2 sw=2 et:
-->
